*{
  color: red;
}


body{
  background-color: gold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #daa520;
  }
  
  div.list-items {
    display: flex;
    justify-content: space-evenly;
  }
  
  li {
    display: flex;
    text-transform: uppercase;
    list-style-type: none;
    padding-right: 10px;
  }

  a{
    text-decoration: none;
  }
  
  
  @media screen and (max-width: 320px) {
    nav {
      display: grid;
      grid-template-columns: 0.5fr;
      grid-template-rows: 0.5fr;
    }
  
    div.list-items {
      display: block;
      padding-left: 10px;
    }

   #logo, li{
        padding-top: 10px;
    }

    div.list-items:hover li {
      transform: scale(1.2);
    }
    .intro-container h1{
     font-size: 20px;
    }
  }
  
  .image-container img {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    position: relative;
    border-radius: 20px;
    opacity: 80%;
  }
  .intro-container{
    position: absolute;
    top: 50%;
    left: 25%;
  }


  /*
    

  



  
  