*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: 700;
}

html{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body{
  background-color: whitesmoke;
}

#main-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}


nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  min-width: 600px;
  min-height: 100px;
}

header{
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.list-items{
  display: flex;
  margin-left: 10rem;
}

li{
  list-style-type: none;
  padding-left: 50px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
}

a{
  color: black;
  text-decoration: none;
}

#intro{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #558166;
  min-height: 50rem;
}

.introduction{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  width: 900px;
  height: 30em;
}

.introduction > h1{
  font-size: 50px;
}

.introduction > h1,p{
  color: whitesmoke;
  font-size: 30px;
}

#qualities{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}



#qualities img {
  height: 100px;
  width: 100px;
}

#qualities div h1{
  font-size: 20px;
  margin-right: 50px;
  text-align: center;
}

#popular-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#popular-menu img {
  height: 200px;
  width: 200px;
  margin-right: 20px;
  border-radius: 10px;
}

#popular-menu h1 {
  margin-right: 50px;
  text-align: center;
  max-width: 200px;
}

#popular-menu button{
  width: 200px;
  min-height: 30px;
  border-radius: 14px;
  border: 0;
}

.category-buttons{
  margin-top: 30px;
  margin-left: 20%;
}

div.category-buttons button{
  height: 50px;
  width:100px;
  border: 0;
  border-radius: 50px;
}

.burger, .pizza, .drinks, .taco, .sandwich{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}

.header-menu li, .header-pizza li, .drinks-header li, .taco-header li, .sandwich-header li{
  text-transform: capitalize;
}

.review{
  display: flex;
  align-items: center;
  justify-content: center;
}

section.review  img{
  margin-left: 50px;
}

.discounts{
  max-width: 350px;
  padding-left: 50px;
}

form{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding-left: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#testimonials, #staff{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 50px;
  text-align: center;
  margin-bottom: 50px;
}

#book{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding-left: 30px;
  padding-bottom: 20px;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  margin-left: 30px;
  padding-bottom: 50px;
}



